
[Debug]
# Randomize adds a random factor +/- the give percent.  3.1 for 3.1%
  Randomize=0.0
# Turns on logging so the user can see the OPRs and mining balances as they update
  Logging=true
# Puts the logs in a file.  If not specified, logs are written to stdout
  LogFile=

[Miner]

  # Options to setup a networked miner to a coordinator
  MiningCoordinatorPort=:7777
  MiningCoordinatorHost=localhost:7777
  # This is used to authenticate via challenge + response to the coordinator.
  # If the coordinator and miner have different secrets, they will not connect to each
  # other.
  CoordinatorSecret="hunter2"
  UseCoordinatorAuthentication=true

  NetworkType=MAIN
  NumberOfMiners=1
# The number of records to submit per block. The top N records are chosen, where N is the config value
  RecordsPerBlock=3
  Protocol=PegNet 
  Network=TestNet

# Input your public EC and FCT addresses here. 
  ECAddress=ChangeMe
  FCTAddress=ChangeMe
  CoinbaseAddress=ChangeMe

# The identity chain key is used to help you identify this daemon.
  IdentityChain=ChangeMe

[Oracle]

  # Choose where the get the different asset pricing from by putting a `1`.
  # Currencies

  APILayer=1
  ExchangeRatesAPI=0
  OpenExchangeRates=0

  # Must get a key from here https://currencylayer.com/
  APILayerKey=ChangeMe

  # Must get an api key here https://openexchangerates.org/
  OpenExchangeRatesKey=ChangeMe

  # Crypto
  CoinCap=1

  # Commodities
  Kitco=1